<div class="fh5co-cta" style="background-image: url(assets/slide_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="col-md-12 text-center animate-box">
			<h3>We Try To make you things easier</h3>
			<p> <%= link_to 'Get started now!', new_user_registration_path, class: "btn btn-primary btn-outline with-arrow" %> </p>
		</div>
	</div>
</div>
