<div id="tato-services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center tato-heading animate-box">
        <h2>Our Awesome Features</h2>
        <p> We have the best solutions to keep track of your hours. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 animate-box">
        <div class="services">
          <i class="glyphicon glyphicon-plane"></i>
          <div class="desc">
            <h3>Keep track of your flights</h3>
            <p>Keep track all your flights in only a few steps.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="services">
          <i class="glyphicon glyphicon-usd"></i>
          <div class="desc">
            <h3>Completly Free</h3>
            <p>This is an open source project. Completly free for anyone who need it.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 animate-box">
        <div class="services">
          <i class="glyphicon glyphicon-hourglass"></i>
          <div class="desc">
            <h3>Save Time</h3>
            <p>Don't waist time searching in piles of books for your hours. In a few steps you can know all your flight history</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
