<div id="tato-testimony-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center tato-heading animate-box">
        <h2>Clients Feedback</h2>
        <p>Some of our customers feedback. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-offset-0 to-animate">
        <div class="wrap-testimony animate-box">
          <div class="owl-carousel-fullwidth">
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="assets/person1.jpg" alt="user">
                </figure>
                <blockquote>
                  <p>"I love it I love that i can go live and it has no issues keep up the good work."</p>
                </blockquote>
                <span>Athan Smith</span>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="assets/person2.jpg" alt="user">
                </figure>
                <blockquote>
                  <p>"Great app, It makes me thing easier."</p>
                </blockquote>
                <span>Nathalie Kosley</span>
              </div>
            </div>
            <div class="item">
              <div class="testimony-slide active text-center">
                <figure>
                  <img src="assets/person3.jpg" alt="user">
                </figure>
                <blockquote>
                  <p>"I completly love it. It has all the features i was serching for. Thanks!!."</p>
                </blockquote>
                <span>Yanna Kuzuki</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
