
		<div class="container">
			<div class="col-md-6 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>About Us</h3>
				<p>I'm a pilot student and created this app for me, but now I decided to shared it to the world cause it really helped me and I think it can help others as well. Enjoy it! </p>
				<p> <%= link_to 'Join Us', new_user_registration_path, class: "btn btn-primary btn-outline btn-sm" %> </p>
			</div>
			<div class="col-md-6 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
				<h3>Our Services</h3>
				<ul class="float">
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
				</ul>
				<ul class="float">
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
					<li><p> Something that I will write </p></li>
				</ul>

			</div>


			<div class="col-md-12 fh5co-copyright text-center">
				<p>&copy; 2016 Tato Molina. All Rights Reserved.</p>
			</div>

		</div>
